{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="gp-content-header fluid">
    <div class="container gp-front-banner2">

      <div class="row">
        <div class="col-md-12 text-center">
          <img alt="Gplogo big4" class="big-logo" src="/theme/images/gplogo_big4-ae72e899bac7d27c0609ca370848841a.png">
        </div>
      </div>
      <div class="row quick-menu-div">
        <div class="col-md-4">
          <div class="quick-menu2">
            <a class="public-server" href="./use-genepattern"><img alt="Use gpserver new" class="quick-menu-img" src="/theme/images/use_gpserver_new-8088e5cd7c9d850e7d4883e163eadeed.png"></a><br>
          </div>
        </div>
        <div class="col-md-4">
          <div class="quick-menu2">
            <a href="http://genepattern-notebook.org/"><img alt="Gpnotebook button creditgregor cresnar" class="quick-menu-img" src="/theme/images/gpnotebook_button_creditGregor_Cresnar-b3b18f5b32d082fe5eeb3f646fc720a6.png"></a><br>
          </div>
        </div>
        <div class="col-md-4">
          <div class="quick-menu2">
            <a href="./genepattern-community"><img alt="Community button new" class="quick-menu-img" src="/theme/images/community_button_new-17422959e97b6db1adf676b9c1634824.png"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="quick-menu-table">
          <tbody><tr>
            <td>
              <div class="quick-menu2">
                <a class="public-server" href="./use-genepattern"><img alt="Use gpserver new" class="quick-menu-img" src="/theme/images/use_gpserver_new-8088e5cd7c9d850e7d4883e163eadeed.png"></a><br>
                <span>Login to Public Server</span>
              </div>
            </td>
            <td>
              <div class="quick-menu2">
                <a href="http://genepattern-notebook.org"><img alt="Gpnotebook button creditgregor cresnar" class="quick-menu-img" src="/theme/images/gpnotebook_button_creditGregor_Cresnar-b3b18f5b32d082fe5eeb3f646fc720a6.png"></a><br>
                <span>10-minute Tutorial</span>
              </div>
            </td>
            <td>
              <div class="quick-menu2">
                <a href="./genepattern-community"><img alt="Community button new" class="quick-menu-img" src="/theme/images/community_button_new-17422959e97b6db1adf676b9c1634824.png"></a>
              </div>
            </td>
          </tr>
          </tbody></table>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h1><big>Features</big></h1>
        <h2>Powerful genomics tools in a user-friendly interface</h2>
        <p><img alt="Comp repository" class="gp-img" src="/theme/images/comp_repository-2f6982d09eec3b0ad357a5d80a7a9591.png">GenePattern provides hundreds of analytical tools for the analysis of gene expression (<a href="/rna-seq-analysis">RNA-seq</a> and <a href="/gene-expression-analysis">microarray</a>), <a href="/variant-and-copy-number-analysis">sequence variation and copy number</a>, <a href="/proteomics">proteomic</a>, <a href="/flow-cytometry">flow cytometry</a>, and network analysis. These tools are all available through a Web interface with no programming experience required.</p>
        <h2><i style="color: #246299;"></i> GenePattern Notebook</h2>
        <p><img alt="Gpnotebookicon" class="gp-img" height="50" src="/theme/images/gpnotebookicon-d0df08dc9ef2f04ebae433a6cd57af6b.png" width="50">The <a href="http://genepattern-notebook.org/">GenePattern Notebook environment</a> extends the <a href="http://jupyter.org/" target="_blank">Jupyter Notebook</a> system, allowing researchers to create documents that interleave formatted text, graphics and other multimedia, executable code, and GenePattern analyses, creating a single "research narrative" that puts scientific discussion and analyses in the same place.</p>
        <h2>Analysis Pipelines</h2>
        <p><img alt="Pipelines" class="gp-img" src="/theme/images/pipelines-6bc0a97ed0c1080ed75e099ee6480716.png">GenePattern pipelines allow you to capture, automate, and share the complex series of steps required to analyze genomic data. By providing a way to create and distribute an entire computational analysis methodology in a single executable script, pipelines enable a form of in silico reproducible research.</p>
        <h2>Reproducible Research</h2>
        <p><img alt="Reproducible" class="gp-img" src="/theme/images/reproducible-8cb50a75182afbf1335e233c34dcaa6a.png">Published research, particularly in silico research, should contain sufficient information to completely reproduce the research results. By capturing the analysis methods, parameters, and data used to produce the research results, GenePattern pipelines enable reproducible research. By versioning every pipeline and its methods, GenePattern ensures that each version of a pipeline (and its results) remain static, even as your research and the pipeline continue to evolve.</p>
        <h2>Programming Environment</h2>
        <p><img alt="Programming" class="gp-img" src="/theme/images/programming-3dc00a4fd711e63a910f7159ca8d6a13.png">GenePattern provides a simple application interface that gives users access to computational analysis methods and tools, regardless of their computational experience. GenePattern also provides a programmatic interface that makes those analysis modules available to computational biologists and developers from Java, MATLAB, and R.</p>
      </div>
      <div class="col-md-4 gp-side-column">
        <h4><small>Blog &gt;</small> GP updates</h4>
        <p>
        </p><ul class="gp-list">
        {% for article in articles %}
          {% if loop.index <= 5 %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
        <div class="gp-read-more"><a href="/blog">view more &gt;</a></div>
        <p></p>
        <br>
        <h4><small>Papers &gt;</small> Related Publications</h4>
        <p>
        </p><ul class="gp-list">
        <li><a href="http://bib.oxfordjournals.org/content/14/4/391.long">Comparability and reproducibility of biomedical data</a></li>
        <li><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2896202/">ToppCluster: a multiple gene list feature analyzer for comparative enrichment clustering and network-based dissection of biological systems</a></li>
        <li><a href="http://www.pnas.org/content/early/2009/05/13/0903028106">Automated High-dimensional Flow Cytometric Data Analysis</a></li>
        <li><a href="http://www.nature.com/nbt/journal/v27/n2/abs/nbt.1524.html">Prediction of high-responding peptides for targeted protein assays by mass spectrometry</a></li>
        <li><a href="http://www.springer.com/series/7651">Differential Methylation Hybridization: Profiling DNA Methylation with a High-Density CpG Island Microarray</a></li>
      </ul>
        <p></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="big-window">
        <div class="col-md-8">
          <h4>About GenePattern</h4>
          <p>GenePattern is free for all uses, commercial and academic.</p>
          <p class="gp-small-text"><img alt="Itcr" src="/theme/images/itcr-1f7eef8d52e20d7911003ce168e3c9ac.png"> <img alt="Logo nigms" src="/theme/images/logo_nigms-a655346bd6e1a6d0ad55bfae18b09918.gif"> <br>Funded by the National Cancer Institute's Informatics Technology for Cancer Research program and the National Institute of General Medical Sciences.</p>

          <p class="gp-small-text"><img alt="Logo bioit" src="/theme/images/logo_bioit-58b43fda047b48205e9d509f0c94d940.gif"><br>GenePattern is a BioIT World Best Practices award winner.</p>

        </div>
        <div class="col-md-4">
          <h4>Social</h4>
          <a class="tip" data-toggle="tooltip" href="http://twitter.com/GenePattern" title="" data-original-title="Follow us on Twitter"><img alt="Dk twitter" src="/theme/images/dk_twitter-7c74921417450d5c59f63119653b2b80.png"></a>&nbsp;<a class="tip" data-toggle="tooltip" href="https://www.facebook.com/pages/GenePattern/159999027359395" title="" data-original-title="Like us on Facebook"><img alt="Dk facebook" src="/theme/images/dk_facebook-2a41b11db66ff058640af756a3fc21a5.png"></a>

          <script>
            //<![CDATA[

            $('.tip').tooltip();

            //]]>
          </script><div class="bs-callout bs-callout-info">
          <h4>Cite GenePattern</h4>
          <p class="gp-small-text">Reich M, Liefeld T, Gould J, Lerner J, Tamayo P, Mesirov JP. <a href="http://www.nature.com/ng/journal/v38/n5/full/ng0506-500.html">GenePattern 2.0</a> Nature Genetics 38 no. 5 (2006): pp500-501
            <a href="http://scholar.google.com/citations?user=lREO6vMAAAAJ&amp;hl=en">Google Scholar</a> | <a href="https://www.genepattern.org/attachments/genepattern_citation.enw?1343670803">Endnote</a> | <a href="https://www.genepattern.org/attachments/genepattern_citation.ris?1343670818">RIS</a></p>
        </div>
        </div>
      </div>
      <div class="sm-window">
        <div class="col-md-8">
          <h4>Social</h4>
          <a class="tip" data-toggle="tooltip" href="http://twitter.com/GenePattern" title="" data-original-title="Follow us on Twitter"><img alt="Dk twitter" src="/theme/images/dk_twitter-7c74921417450d5c59f63119653b2b80.png"></a>&nbsp;<a class="tip" data-toggle="tooltip" href="https://www.facebook.com/pages/GenePattern/159999027359395" title="" data-original-title="Like us on Facebook"><img alt="Dk facebook" src="/assets/dk_facebook-2a41b11db66ff058640af756a3fc21a5.png"></a>

          <script>
            //<![CDATA[

            $('.tip').tooltip();

            //]]>
          </script><div class="bs-callout bs-callout-info">
          <h4>Cite GenePattern</h4>
          <p class="gp-small-text">Reich M, Liefeld T, Gould J, Lerner J, Tamayo P, Mesirov JP. <a href="http://www.nature.com/ng/journal/v38/n5/full/ng0506-500.html">GenePattern 2.0</a> Nature Genetics 38 no. 5 (2006): pp500-501
            <a href="http://scholar.google.com/citations?user=lREO6vMAAAAJ&amp;hl=en">Google Scholar</a> | <a href="https://www.genepattern.org/attachments/genepattern_citation.enw?1343670803">Endnote</a> | <a href="https://www.genepattern.org/attachments/genepattern_citation.ris?1343670818">RIS</a></p>
        </div>
        </div>

        <div class="col-md-4">
          <h4>About GenePattern</h4>
          <p>GenePattern is free for all uses, commercial and academic.</p>
          <p class="gp-small-text"><img alt="Itcr" src="/theme/images/itcr-1f7eef8d52e20d7911003ce168e3c9ac.png"> <img alt="Logo nigms" src="/theme/images/logo_nigms-a655346bd6e1a6d0ad55bfae18b09918.gif"> <br>Funded by the National Cancer Institute's Informatics Technology for Cancer Research program and the National Institute of General Medical Sciences.</p>

          <p class="gp-small-text"><img alt="Logo bioit" src="/theme/images/logo_bioit-58b43fda047b48205e9d509f0c94d940.gif"><br>GenePattern is a BioIT World Best Practices award winner.</p>

        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}